:root {
	--border-color: #fe0000;
	--text-color: black;
	--background-color: white;
	--content-color: black;
}
*{
	margin: 0;
	padding: 0;
}
.login_container{
	height: 100%;
	width: 100%;
	position: absolute;
	background: var(--background-color);
}
.login_form{
	width: 300px;
	height: 430px;
	position: relative;
	margin: 6% auto;
	background: transparent;
	padding: 5px;
	box-shadow: 0 0 10px 1px var(--border-color);
	border-radius: 30px;
	overflow: hidden;
}
.login_button{
	width: 220px;
	margin: 35px auto 20px auto;
	position: relative;
	box-shadow: 0 0 10px 1px var(--border-color);
	border-radius: 30px;
}
.toggle_btn{
	text-align: center;
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
	border-radius: 30px;
}
#btn{
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: var(--border-color);
	border-radius: 30px;
	transition: 0.5s;
}
.login_input{
	top: 140px;
	position: absolute;
	width: 200px;
	transition: 0.5s;
}
.input_box{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid var(--border-color);
	outline: none;
	background: transparent;
}
.check_box{
	margin: 30px 10px 30px 0;
}
.submit_btn{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: var(--background-color);
	border: none;
	box-shadow: 0 0 10px 1px var(--border-color);
	border-radius: 30px;
}
.submit_btn:hover{
	background: var(--border-color);
	color: white;
}
.login_input span{
	font-size: 12px;
	bottom: 65px;
	position: absolute;
}
#login{
	left: 50px;
}
#signup{
	left: 450px;
}
.theme{
	font-size: 12px;
	bottom: 0px;
	position: absolute;
	left: 100px;
}
.theme_check_box{
	margin: 0px 10px 10px 10px;
}
.nwarning{
	width: 220px;
	margin: 10px auto;
	text-align: center;
	border-radius: 5px;
	border: 1px solid red;
	color: red;
	padding: 10px 0;
	position: relative;
}
.pwarning{
	width: 220px;
	margin: 10px auto;
	text-align: center;
	border-radius: 5px;
	border: 1px solid green;
	color: green;
	padding: 10px 0;
	position: relative;
}
body{
	min-height: 100vh;
	overflow-x: hidden;
	background: var(--background-color);
}
.container{
	position: relative;
	width: 100%;
}
.navigation{
	position: fixed;
	width: 70px;
	height: 100%;
	color: var(--border-color);
	background: var(--background-color);
	border-left: 10px solid var(--background-color);
	transition: 0.5s;
	overflow: hidden;
	box-shadow: 10px 10px 10px 10px var(--border-color);
}
.navigation.active{
	width: 270px;
}
.navigation ul{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.navigation ul li{
	position: relative;
	width: 100%;
	list-style: none;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}
.navigation ul li:hover,.navigation ul li.hovered{
	background: var(--border-color);
	cursor: pointer;
}
.navigation ul li:nth-child(1){
	margin-bottom: 40px;
	pointer-events: none;
}
.navigation ul li a{
	font-weight: 500;
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
}
.navigation ul li:hover a,.navigation ul li.hovered a{
	color: white;
}
.navigation ul li a .icon{
	position: relative;
	display: block;
	min-width: 60px;
	height: 60px;
	line-height: 70px;
	text-align-last: center;
}
.navigation ul li a .icon ion-icon{
	font-size: 1.75em;
}
.navigation ul li a .title{
	position: relative;
	display: block;
	padding: 0 10px;
	height: 60px;
	line-height: 57px;
	text-align: start;
	white-space: nowrap;
}
.navigation ul li:hover a::before,.navigation ul li.hovered a::before{
	content: '';
	position: absolute;
	right: 0;
	top: -50px;
	width: 50px;
	height: 50px;
	background: transparent;
	border-radius: 50%;
	box-shadow: 35px 35px 0 10px var(--border-color);
	pointer-events: none;
}
.navigation ul li:hover a::after,.navigation ul li.hovered a::after{
	content: '';
	position: absolute;
	right: 0;
	bottom: -50px;
	width: 50px;
	height: 50px;
	background: transparent;
	border-radius: 50%;
	box-shadow: 35px -35px 0 10px var(--border-color);
	pointer-events: none;
}
.main{
	position: absolute;
	width: calc(100% - 90px);
	left: 90px;
	min-height: 100vh;
	background: var(--background-color);
	transition: 0.5s;
}
.main.active{
	width: calc(100% - 290px);
	left: 290px;
}
.topbar{
	width: 100%;
	height: 60px;
	display: block;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	box-shadow: 0 0 20px 1px var(--border-color);
}
.toggle{
	color: var(--border-color);
	position: relative;
	top: 0;
	width: 60px;
	height: 60px;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5em;
	cursor: pointer;
}
#blur{
	position: fixed;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--content-color);
	opacity: .3;
	display: none;
}
.content{
	color: var(--content-color);
	background: transparent;
	width: calc(100% - 40px);
	height: 100%;
	padding: 20px;
	margin: 20px 0;
}
.content_box{
	background: var(--background-color);
	border-radius: 5px;
	padding: 30px 30px 50px 30px;
	overflow: hidden;
	box-shadow: 1px 1px 2px 2px var(--border-color);
	margin-bottom: 20px;
}
.content_box .top{
	color: var(--border-color);
	position: relative;
	height: 40px;
}
.add_btn{
	position: absolute;
	right: 20px;
	top: 20px;
	text-align: center;
	width: 100px;
	padding: 5px 10px;
	cursor: pointer;
	background: var(--background-color);
	border: none;
	box-shadow: 0 0 5px 2px var(--border-color);
	border-radius: 30px;
}
.add_btn:hover{
	background: var(--border-color);
	color: white;
}
.display table{
	width: 100%;
	border-collapse: collapse;
}
.display table thead td{
	font-weight: 800;
}
.display table tr{
	color: var(--content-color);
	border-bottom: 1px solid var(--content-color);
}
.display table tr:last-child{
	border-bottom: none;
}
.display table tbody tr td:last-child:hover{
	color: var(--border-color);
	cursor: pointer;
}
.display table tr td{
	padding: 10px;
}
.display table tr td:last-child{
	text-align: end;
}
.display table tr td{
	text-align: center;
}
.display table .status{
	padding: 2px 4px;
	color: var(--text-color);
	border-radius: 4px;
	font-size: 14px;
	font-weight: 500px;
}
.display table .status.Available,.display table .status.available{
	background: green;
}
.display table .status.Unavailable,.display table .status.unavailable{
	background: red;
}
.display table .status.Partial,.display table .status.partial{
	background: orange;
}
.hover_content{
	text-align: center;
}
.hover_content .top{
	color: var(--border-color);
	position: relative;
	height: 40px;
}
.hover_content .input_field{
	color: var(--content-color);
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid var(--border-color);
	outline: none;
	background: var(--background-color);
}
.hover_content .submit{
	color: var(--content-color);
	width: 35%;
	padding: 10px;
	cursor: pointer;
	display: inline-block;
	margin: 5px;
	background: var(--background-color);
	border: none;
	box-shadow: 0 0 10px 1px var(--border-color);
	border-radius: 30px;
}
.hover_content .submit:hover{
	background: var(--border-color);
	color: white;
}
#product{
	width: calc(60% - 40px);
	float: left;
	position: relative;
}
#add_product,#edit_product,#delete_product,#add_brand,#edit_brand,#delete_brand,#add_category,#edit_category,#delete_category,#add_vendor,#edit_vendor,#delete_vendor,#view_vendor,#add_supplier,#edit_supplier,#delete_supplier,#view_supplier{
	display: none;
	position: fixed;
	width: 250px;
	top: calc(50% - 200px);
	left: calc(50% - 125px);
	margin: 35px auto;
	z-index: 10;
}
#brand_category{
	padding: 0;
	margin: 0;
	width: calc(40% - 40px);
	float: right;
}
#brand{
	width: calc(100% - 60px);
	position: relative;
	margin-bottom: 20px;
}
#category{
	width: calc(100% - 60px);
	position: relative;
}
#add_sale,#view_saledetail,#delete_sale,#add_purchase,#view_purchasedetail,#delete_purchase,#payment_purchase,#payment_sale{
	display: none;
	position: fixed;
	width: 700px;
	height: 550px;
	top: calc(50% - 300px);
	left: calc(50% - 350px);
	z-index: 10;
	overflow-y: scroll;
}
#add_sale .submit,#view_saledetail .submit,#add_purchase .submit,#view_purchasedetail .submit,#payment_purchase .submit,#payment_sale .submit{
	width: 150px;
}
#sales_history{
	width: calc(60% - 40px);
	float: left;
	position: relative;
	padding-bottom: 110px;
}
#vendor{
	position: relative;
	width: calc(40% - 100px);
	float: right;
	padding-bottom: 80px;
}
.dataTable{
	width: 100%;
	padding: 40px 0;
}
.dataTable TD{
	width: 150px;
	text-align: center;
}
.dataTable TD:nth-child(1){
	width: 50px;
	text-align: center;
}
.dataTable TD:nth-child(2){
	width: 250px;
	text-align: center;
}
.dataTable .input_field{
	width: 100%;
	text-align: center;
}
#purchases_history{
	width: calc(60% - 40px);
	float: left;
	position: relative;
	padding-bottom: 110px;
}
#supplier{
	position: relative;
	width: calc(40% - 100px);
	float: right;
	padding-bottom: 80px;
}
.dropdown{
  display: none;
  width: 70px;
  background: var(--background-color);
  right: 50px;
  position: absolute;
  overflow: auto;
  box-shadow: 0px 0px 1px 1px var(--content-color);
}
.dropdown a{
  display: block;
  border-bottom: 1px solid var(--content-color);
  color: var(--content-color);
  padding: 5px;
  text-decoration: none;
}
.dropdown a:hover{
  color: var(--text-color);
  background-color: var(--border-color);
}
.stats{
	width: 25%;
	padding: 20px;
	margin: 10px;
	text-align: center;
}
.stats .topic{
	font-size: 24px;
}
.stats .value{
	font-weight: 900;
	color: var(--border-color);
}